body {
  font-family: "Hiragino Maru Gothic Pro", sans-serif;
  background: linear-gradient(135deg, #ffeef8, #e0f7ff);
  min-height: 100vh;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 40px;
  color: #444;
}

input {
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid #ffb6d5;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
}

input:focus {
  border-color: #ff69b4;
  box-shadow: 0 0 10px #ffb6d5;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  background: #ff69b4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ff1493;
  transform: scale(1.05);
}

.card {
  background: white;
  width: 320px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  position: relative;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card-top {
  display: flex;
  align-items: center;
  gap: 20px;
}
img {
  width: 150px;
}

.type {
  display: inline-block;
  padding: 5px 12px;
  margin: 5px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
}

#favorites {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 500px;
  overflow-y: auto;
}

.favorites-card {
  width: 160px;
  flex: 0 0 160px;
  background: white;
  border-radius: 14px;
  padding: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  text-align: center;
}

#favoritesList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.search-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.search-area > div 
.search-area > #btn {
  margin-bottom: 0;
}

.search-area > {
  margin-top: 10px;
}
  

#fav-Btn {
  align-self: flex-start;
  margin-top: 10px;
  width: 200px;
}

.fav-inside-btn {
  background: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;

  display: block;
  margin-left: auto;
  margin-top: 15px;
}

.poke-img {
  width: 180px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.poke-info {
  text-align: left;
}

.card .info {
  text-align: left;
  width: 100%;
  padding-left: 20px;
}

.favorites-box {
  width: 350px;
  flex-shrink: 0;
}

#speciesInfo {
  width: 350px
}

#result {
  flex: 1;
}

.content-area {
  display: flex;
  gap: 40px;
  flex: 1;
}